body {
  font-family: 'Source Sans Pro';
  background-image: url(images/headphones_hero_1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

footer {
  background-color: #071629;
}

.header-logo img {
  display: flex;
  margin-left: 200px;
  margin-top: 25px;
  scale: 0.6;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 150px;
  margin-top: -40px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 25px;
}

nav a:hover {
  color: #FF6565;
  transition: 0.3s ease-in-out;
}

nav a:active {
  color: white;
}

.action {
  background-color: #FF6565;
  color: white;
  border: none;
  border-radius: 30px;
  width: 162px;
  height: 44px;
  font-weight: bold;
  margin-left: 850px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.action:hover {
  background-color:#742f2f;
  transition: 0.3s ease-in-out;
}

.hero h1 {
  color: white;
  text-align: center;
  font-size: 42px;
  margin-top: 400px;
  margin-bottom: -20px;
}

.hero h3 {
  color: white;
  text-align: center;
  font-size: 21px;
}

.hero p {
  color: white;
  width: 637px;
  line-height: 30px;
  text-align: center;
  margin: auto;
}

.about h1 {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  color: black;
  font-size: 32px;
}

.services {
  display: flex;
  justify-content: center;
  padding: 140px;
  text-align: center;
}

.services p {
  width: 207px;
  line-height: 30px;
}

.frequency {
  margin-top: 11px;
}

.music {
  margin-top: 19px;
}

.hearing {
  margin-top: 15px;
}

.results {
  background: url(images/headphones_hero_2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 650px;
  margin-left: -10px;
}

.results h1 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 32px;
  padding-top: 100px;
}

.results p {
  color: white;
}

.pentagons {
  display: flex;
  justify-content: center;
}

.pentagons img {
  width: 190px;
  height: 190px;
  padding: 40px;
}

.pentagons h2 {
  color: rgb(255, 255, 255);
  font-size: 46px;
}

.pentagons p {
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.pentagon1 h2 {
  margin-left: 90px;
}

.pentagon2 h2 {
  margin-left: 90px;
}

.pentagon3 h2 {
  margin-left: 90px;
}

.pentagon4 h2 {
  margin-left: 90px;
}

.pentagon1 p {
  margin-left: 80px;
  margin-top: -20px;
}

.pentagon2 p {
  margin-left: 80px;
  margin-top: -20px;
}

.pentagon3 p {
  margin-left: 80px;
  margin-top: -20px;
}

.pentagon4 p {
  margin-left: 80px;
  margin-top: -20px;
}

.contact {
  height: 650px;
}

.contact h1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 32px;
}

.contact-fields {
  width: 335px;
  margin: 0 auto;
}

.contact-fields input {
  display: flex;
}

.logo {
  display: flex;
}

.logo img {
  width: 161px;
  height: 32px;
}

.socials{
  display: flex;
  justify-content: flex-end;
}

.socials img {
  width: 30px;
  height: 30px;
}

.paragraph p {
  display: flex;
  align-items: center;
  text-align: center;
  width: 637px;
  margin: auto;
  line-height: 30px;
}

.statistics {
  position: absolute;
  text-align: center;
  top: 2250px;
}

footer {
  height: 249px;
  width: 100%;
}

footer p {
  color: white;
  display: flex;
  justify-content: center;
}