/* @media: targeting max-width (px) of screen size for smaller devices */

/* Body Styles */

body {
  font-family: 'Source Sans Pro';
  background-image: url(images/headphones_hero_1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Mobile */

@media (max-width: 480px) {
  body {
    background-size: 350%;
    background-position: -400px center;
    height: 850px;
    width: 480px;
  }
}

/* Header Logo Styles */

.header-logo img {
  display: flex;
  width: 161px;
  height: 32px;
  margin: 25px 0px 0px 200px;
}

/* Mobile */

@media (max-width: 480px) {
  .header-logo img {
    display: flex;
    margin: 30px auto;
  }
}

.logo img {
  display: flex;
  width: 161px;
  height: 32px;
  margin: 110px 0px 0px 200px;
}

/* Nav Styles */

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: -25px 150px 0px 0px;
  font-size: 12px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 25px;
}

nav a:hover {
  color: #FF6565;
  transition: 0.3s ease-in-out;
}

nav a:active {
  color: white;
}

/* Button Styles */

.action {
  background-color: #FF6565;
  color: white;
  border: none;
  border-radius: 30px;
  width: 162px;
  height: 44px;
  font-weight: bold;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  margin: 80px 0px 80px 750px;
}

.action:hover {
  background-color: #742f2f;
  transition: 0.3s ease-in-out;
}

/* Mobile */

@media (max-width: 480px) {
  .action {
    display: flex;
    margin: 50px auto;
  }
}

/* Mobile */

@media (max-width: 480px) {
  .button-style {
    margin: 14px auto;
  }
}

/* Hero Styles */

/* Mobile */

@media (max-width: 480px) {
  .hero {
    margin-top: -100px;
  }
}

.hero h1 {
  color: white;
  text-align: center;
  font-size: 42px;
  margin: 400px 0px -20px 0px;
}

/* Mobile */

@media (max-width: 480px) {
  .hero h1 {
    font-size: 32px;
    margin: 250px 0px 0px 55px;
    width: 357px;
  }
}

.hero h3 {
  color: white;
  text-align: center;
  font-size: 21px;
}

/* Mobile */

@media (max-width: 480px) {
  .hero h3 {
    font-size: 16px;
    width: 279px;
    margin: 20px auto;
  }
}

.hero p {
  color: white;
  width: 637px;
  line-height: 30px;
  text-align: center;
  margin: auto;
}

/* About Styles */

.about h1 {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  color: black;
  font-size: 32px;
}

/* Mobile */

@media (max-width: 480px) {
  .about h1 {
    margin-top: 250px;
  }
}

/* Services Styles */

.services {
  display: flex;
  justify-content: center;
  padding: 140px;
  text-align: center;
}

/* Mobile */

@media (max-width: 480px) {
  .services {
    width: 207px;
    height: 1491px;
    display: flex;
    flex-direction: column;
    margin: -200px 0px -450px 0px;
  }
}

.services p {
  width: 207px;
  line-height: 30px;
}

/* Frequency Styles */

.frequency {
  margin-top: 11px;
}

/* Mobile */

@media (max-width: 480px) {
  .frequency {
    margin-top: -250px;
  }
}

/* Music Styles */

.music {
  margin-top: 19px;
}

.hearing {
  margin-top: 15px;
}

/* Results Styles */

.results {
  background: url(images/headphones_hero_2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 650px;
  margin: 0px -10px -10px -10px;
}

/* Mobile */

@media (max-width: 480px) {
  .results {
    height: 2000px;
    background-size: 600%;
  }
}

.results h1 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 32px;
  padding-top: 100px;
}

/* Mobile */

@media (max-width: 480px) {
  .results h1 {
    width: 266px;
    display: flex;
    text-align: center;
    margin: 0 auto;
  }
}

.results p {
  color: white;
}

/* Pentagon Styles */

.pentagons {
  display: flex;
  justify-content: center;
}

/* Mobile */

@media (max-width: 480px) {
  .pentagons {
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    margin-top: 80px;
  }
}

.pentagons img {
  width: 190px;
  height: 190px;
  padding: 40px;
}

.pentagons h2 {
  color: #ffffff;
  font-size: 46px;
}

.pentagons p {
  color: #ffffff;
  font-size: 14px;
}

.pentagon1 h2 {
  margin-left: 90px;
}

.pentagon2 h2 {
  margin-left: 90px;
}

.pentagon3 h2 {
  margin-left: 90px;
}

.pentagon4 h2 {
  margin-left: 90px;
}

/* Margins: top, right, bottom, left */

.pentagon1 p {
  margin: -20px 0px 0px 80px;
}

.pentagon2 p {
  margin: -20px 0px 0px 80px;
}

.pentagon3 p {
  margin: -20px 0px 0px 80px;
}

.pentagon4 p {
  margin: -20px 0px 0px 80px;
}

/* Mobile */

@media (max-width: 480px) {
  .pentagon1 h2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 780px;
  }
}

/* Mobile */

@media (max-width: 480px) {
  .pentagon1 p {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 900px;
    width: 111px;
  }
}

/* Mobile */

@media (max-width: 480px) {
  .pentagon2 h2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1055px;
  }
}

/* Mobile */

@media (max-width: 480px) {
  .pentagon2 p {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1175px;
    width: 111px;
  }
}

/* Mobile */

@media (max-width: 480px) {
  .pentagon3 h2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1330px;
  }
}

/* Mobile */

@media (max-width: 480px) {
  .pentagon3 p {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1450px;
    width: 111px;
  }
}

/* Mobile */

@media (max-width: 480px) {
  .pentagon4 h2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1605px;
  }
}

/* Mobile */

@media (max-width: 480px) {
  .pentagon4 p {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1725px;
    width: 111px;
  }
}

/* Contact Styles */

.contact {
  height: 650px;
}

.contact h1 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-size: 32px;
}

/* Mobile */

@media (max-width: 480px) {
  .contact {
    margin: -300px 0px -100px 0px;
  }
}

/* Contact Field Styles */

.contact-fields {
  width: 335px;
  margin: 0 auto;
}

.contact-fields input {
  display: flex;
  margin-top: 0 auto;
  margin-left: -40px;
  padding: 30px;
  font-size: 14px;
  border: none;
  width: 350px;
  border-bottom: 1px solid #979797;
}

/* Mobile */

@media (max-width: 480px) {
  .contact-fields input {
    width: 350px;
    margin-left: -50px;
  }
}

.contact-fields input::placeholder {
  color: black;
  font-weight: bolder;
}

/* Mobile */

@media (max-width: 480px) {
  .contact-fields input::placeholder {
    margin-left: -20px;
  }
}

/* Logo Styles */

.logo {
  display: flex;
}

.logo img {
  width: 161px;
  height: 32px;
}

/* Mobile */

@media (max-width: 480px) {
  .logo img {
    display: flex;
    margin: 50px 0px 0px 160px;
  }
}

/* Social Styles */

.socials {
  display: flex;
  justify-content: flex-end;
  margin: -40px 200px -10px 0px;
}

.socials img {
  width: 30px;
  height: 30px;
  justify-content: flex-end;
  padding: 10px;
}

/* Mobile */

@media (max-width: 480px) {
  .socials img {
    display: flex;
    margin-top: 80px;
  }
}

/* Paragraph Styles */

.paragraph p {
  display: flex;
  align-items: center;
  text-align: center;
  width: 637px;
  margin: auto;
  line-height: 30px;
}

/* Mobile */

@media (max-width: 480px) {
  .paragraph p {
    width: 335px;
    height: 182px;
    margin-top: 120px;
  }
}

/* Statistics Styles */

.statistics {
  position: absolute;
  text-align: center;
  top: 2190px;
}

/* Mobile */

@media (max-width: 480px) {
  .statistics {
    top: 2350px;
  }
}

/* Footer Styles */

footer {
  background-color: #071629;
  height: 249px;
  margin: 0px -10px -10px -10px;
}

/* Mobile */

@media (max-width: 480px) {
  footer {
    height: 249px;
    margin: 50px -30px -60px -10px;
  }
}

/* Copyright Styles */

.copyright p {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 12px;
}

/* Mobile */

@media (max-width: 480px) {
  .copyright p {
    margin: 50px 30px 0px 0px;
  }
}